.we {
  background: $buttom-color;
}

.we-title {
  @media screen and (max-width: 1200px) {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 30px;
    background: $buttom-color;
  }
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  background: $buttom-color;
  margin-bottom: 50px;
}

.we-list {
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
    flex-basis: calc((100% - 60px) / 3);
  }
}


.we-list-item {
  @media screen and (max-width: 767px) {
    // width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    margin-bottom: 30px;
  }

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}


.we-block {
  margin-top: 30px;
}

.we-name {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $text-color;
}

.we-proffesion {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $second-color;
}

.social {
  display: flex;
  justify-content: center;
}

.social-links + .social-links {
  margin-left: 10px;
}

.social-item {
  width: 20px;
  height: 20px;
}

.social-links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  margin-bottom: 42px;

  transition: background, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background: $hover-color;
    fill: $wait;
  }
}
